
main {
  padding-top: 20px;
  padding-bottom: 10px;
}

.quiz-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.easy {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}

.easy-button {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 40px;
  border: 2px solid #0290fe;
  border-radius: 10px;
  background: #7799ff;
  width: 85%;
  height: 150px;
}

.normal {
  color: #0290fe;
  text-decoration: none;
  font-size: 40px;
}

.normal-button {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 40px;
  border: 2px solid #02de90;
  border-radius: 10px;
  background: #40fe40;
  width: 85%;
  height: 150px;
}

.difficult {
  color: #ea0f0f;
  text-decoration: none;
  font-size: 40px;
}

.difficult-button {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 40px;
  border: 2px solid #fe9090;
  border-radius: 10px;
  background: #fecccc;
  width: 85%;
  height: 150px;
}
