
main {
  padding-top: 20px;
  padding-bottom: 10px;
}

h1 {
  margin-left: 20px;
  margin-bottom: 20px;
}

#quiz-button-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#quiz-button {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #31a6ff;
  border-radius: 10px;
  background: #a1d6ff;
  width: 45%;
  height: 100px;
}

#quiz-area-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

#quiz-area {
  text-align: center;
  padding: 25px;
  border: 2px solid #999;
  border-radius: 10px;
  width: 60%;
}

@media screen and (max-width: 959px) {
  #quiz-area {
    text-align: center;
    padding: 25px;
    border: 2px solid #999;
    border-radius: 10px;
    width: 90%;
  }
}

#input-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 65%;
  height: 3rem;
  text-align: center;
  font-size: 22px;
  border-radius: 7px;
  letter-spacing: 3px;
  outline: none;
}

table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  width: 65px;
  height: 55px;
  margin: 10px;
  font-size: 22px;
  border: 2px solid #31a6ff;
  border-radius: 7px;
  background: #cde9ff;
}

#answer-area-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

#answer-area {
  text-align: center;
  padding: 25px;
  border: 2px solid #dd9;
  border-radius: 10px;
  width: 60%;
}

@media screen and (max-width: 959px) {
  #answer-area {
    text-align: center;
    padding: 25px;
    border: 2px solid #dd9;
    border-radius: 10px;
    width: 90%;
  }
}

#go-button-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#go-button {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #02de90;
  border-radius: 10px;
  background: #40fe40;
  width: 35%;
  height: 100px;
}

#answer-button-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#answer-button {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #c7c700;
  border-radius: 10px;
  background: #fafa71;
  height: 60px;
}
